packages/*
recentf
projectile*
ido.last
network-security.data
auto-save-list*
tramp
elpa

*~
*.cache
*#*
*.log
*.DS_Store

.lsp*
.dap*
bookmarks
.last*
layouts
session*
eshell/*
transient/*
eln-cache/*
url/*
flycheck_init.el
.extension